/*reset master*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

/*body*/
body{
    background-color: #151515;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 200px;
}


/*formatação containers*/
#hero{
    
}

/*formatação fonts*/

p{
    color: white;  
}

h1{
    color:white;
}

/*medias querys*/

