/*reset total*/
*{
    margin:0;
    padding: 0;
    text-decoration: none;
}

/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/*formatação de texto*/

h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 65px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 44px;
}


/*formatação divs & sections*/

.container-hero{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    margin-top: 10%;
}

.box2{
    height: auto;
    margin-left: 5%;
}
