/*reset master*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    box-sizing: border-box;
}

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

/*formatação nav*/

#navbar{
    display: flex;
    flex-direction: roll;
    align-items: center;
}

/*formatação divs & sections*/
body{
    background-color: #2F3136;   
}


